.chart rect {
  stroke: #fff;
  fill: #8ac;
  /*fill: #82A1C3;*/
  /*fill: #bce;*/
}

.chart text {
  font:normal normal normal 10px/normal sans-serif;
}

.chart rect:hover {
  fill: #def;
}

.xaxis_stroke {
  stroke: #000;
}

.line-color-one {
  stroke: #8ac;
}
