$def with (page, title=None)
<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Latest images from the ISS" />
  <meta name="author" content="natronics" />
  
  <!-- Bootstrap CSS -->
  <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" />
  <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
  <style>
    #header {
      background: #eee;
      border-bottom: 3px solid #08c;
      padding-top: 40px;
      padding-bottom: 14px;
      margin-bottom: 30px;
    }
  </style>

  <!--Title-->
  <title>\
$if title: $title</title>
 </head>
 <body>
  
  <div id="header">
    <div class="container">
      <h1>MSL Feeds</h1>
    </div>
  </div>

  <div class="container">

   $:page
   
   <div class="footer">
     <hr />
     made by <a href="https://twitter.com/natronics">@natronics</a>
     <p><br /><br /> </p>
   </div>
   
  </div>
  
  <!-- Placed at the end of the document so the pages load faster
  <script src="/static/bootstrap/js/bootstrap.js"></script>
  
   -->

 </body>
</html>
